.notes-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-inline: 1rem;
  padding-bottom: 0.625rem;
}

.no-notes-found {
  font-family: 'var(--ff-google) ', sans-serif;
  color: var(--tc-dark-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.no-notes-found-label > h2 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
}
.no-notes-found-label > h4 {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 200;
}

.no-trashed-found,
.no-reminders-found,
.no-archived-found {
  font-family: 'var(--ff-google) ', sans-serif;
  color: var(--tc-dark-gray);
  text-align: center;
  width: 100%;
  margin-top: 4rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-reminders-label > h2,
.no-trashed-label > h2,
.no-archived-label > h2 {
  color: #80868b;
  cursor: default;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
}
.no-notes-img {
  width: 236px;
  background-image: url(../../assets/no-notes-folder.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 180px;
  margin: 1.25rem;
}
.no-reminders-img {
  background-image: url(../../assets/svg/bell-icon.svg);
}
.no-archived-img {
  background-image: url(../../assets/svg/notecard/archive-note-icon.svg);
}
.no-trashed-img {
  background-image: url(../../assets/svg/trash-icon.svg);
}

.no-reminders-img,
.no-trashed-img,
.no-archived-img {
  background-repeat: no-repeat;
  background-size: contain;
  height: 120px;
  aspect-ratio: 1;
  opacity: 0.1;
  margin: 1.25rem;
}
