#main-section {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 64px 0px 10px 0px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}