.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--c-light-gray);
  background-color: var(--c-white);
  position: fixed;
  width: 100%;
  padding: 0.5rem;
  z-index: 500;
}
.header-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon,
.search-cancel-btn {
  margin: 3px;
  padding: 0.5rem;
}

.search-panel__button{
  background-image: url('../../assets/svg/search-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.search-panel__open-new-tab{
  background-image: url('../../assets/svg/open-new-tab-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.search-panel__close-button{
  background-image: url('../../assets/svg/close-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
}