.sidebar__container {
  display: flex;
  flex-direction: column;
  width: 4.25rem;
  height: 100%;
  padding-top: 0.5rem;
  transition: width, 150ms 350ms;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 3rem;
  margin-left: 0.75rem;
  transition: margin, width, 150ms 350ms;
}
.sidebar-item {
  cursor: pointer;
}
.sidebar__container:hover,
.sidebar__container:focus-within {
  width: 17.5rem;
}
.sidebar__container:hover .sidebar {
  margin-left: 0rem;
  width: 100%;
}
.sidebar__container:hover .sidebar-item:hover > .sidebar-item__icon {
  background-color: var(--c-light-gray);
}
.sidebar__container:hover .sidebar-item__icon {
  border-radius: 0vw 100vw 100vw 0vw;
  padding-left: 1.5rem;
  width: 100%;
}
.sidebar-item__icon {
  pointer-events: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 3rem;
  padding: 0.75rem;
  width: 3rem;
  border-radius: 100vw 100vw 100vw 100vw;
  background-color: var(--c-white);
  transition: width 150ms 350ms;
  transition: border-radius 150ms 350ms;
  transition: padding-left, 150ms 350ms;
}
.sidebar-item__label {
  pointer-events: none;
  background-color: transparent;
  padding-left: 1rem;
  white-space: nowrap;
}
.sidebar-item[active="true"] > .sidebar-item__icon,
.sidebar__container:hover .sidebar-item[active="true"] > .sidebar-item__icon {
  background-color: #feefc3;
}
.sidebar-item[active="true"] .sidebar-item__icon > .svg-icon-large {
  opacity: 1;
}